.main {
    text-align: center;
    &__title {
        color: #d07a2d;
        font-size: 41px;
        font-weight: 400;
        margin: 76px 0 70px;
    }
    &__subtitle {
        font-size: 20px; 
        font-weight: 400;
        font-family: sans-serif;
    }
    p {
        margin: 40px 0 35px;
    }
    span {
        font-size: 20px;
    }
    &__img {
        padding: 95px 0;
    }
}